<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target
          name="GlobalLogger"
          xsi:type="File"
          layout="${date:format=dd/MM/yyyy HH\:mm\:ss.fff} | ${callsite:includeSourcePath=false:className=false} | ${message} ${newline} ${exception:format=tostring}"
          fileName="${basedir}/logs/${replace:searchFor=.:replaceWith=/:inner=${callsite:methodName=false:fSNormalize=true}}_${level}.log" keepFileOpen="false"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="GlobalLogger"/>
  </rules>
</nlog>
